.homeMenu {
    z-index: 12;
    width: 100%;
    background-color:  transparent;
    color: black;
    height: 8rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 6rem;
    left: 0;
}
.servicesMenu {
    height: 30rem;
}
.servicesMenuContainer {
    padding: 3rem 0;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    -o-backdrop-filter: blur( 4px );
    border-radius: 50px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.megaMenuSection {
    border: 1px solid var(--primaryColor);
    width: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 25rem;
    border-radius: 20px;
    box-shadow: 0 0 15px 0px rgba(87, 87, 87, 0.381);
    background-color: white;

}